<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<div th:replace="~{fragments/fragment :: head_style}"></div>
<title>Crea nuova pizza</title>
</head>
<body class="body">

<div class="container my-5">
		<div class="row">
		<div class="text-center">
			<h2>Crea la tua nuova pizza</h2>
		</div>
		<div class="col-6 mx-auto">
				<form id="pizza-form" th:object="${pizza}"
					th:action="@{/pizze/create}" method="post">
					
					<div class="mb-3 input-group">
						<label for="nomePizza" class="form-label input-group">Nome</label>
						<input th:field="*{nome}" type="text" class="form-control input-group rounded-0"
							id="nomePizza" th:errorClass="is-invalid">
						<div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
							<ul>
								<li th:each="err : ${#fields.errors('nome') } "
									th:text="${err}"></li>
							</ul>
						</div>
					</div>

					<div class="mb-3 input-group">
						<label for="descrizionePizza" class="form-label input-group">Descrizione</label>
						<textarea th:field="*{descrizione}" class="form-control input-group rounded-0"
							id="descrizionePizza" rows="8" th:errorClass="is-invalid"></textarea>
						<div th:if="${#fields.hasErrors('descrizione')}" class="invalid-feedback">
							<ul>
								<li th:each="err : ${#fields.errors('descrizione') } "
									th:text="${err}"></li>
							</ul>
						</div>
					</div>

					<div class="mb-3 input-group">
						<label for="fotoPizza" class="form-label input-group">Foto</label>
						<input th:field="*{foto}" type="text" class="form-control input-group rounded-0"
							id="fotoPizza" th:errorClass="is-invalid">
						<div th:if="${#fields.hasErrors('foto')}" class="invalid-feedback">
							<ul>
								<li th:each="err : ${#fields.errors('foto') } "
									th:text="${err}"></li>
							</ul>
						</div>
					</div>

					<div class="mb-3 input-group">
						<label for="prezzoPizza" class="input-group">Prezzo</label> <span
							class="input-group-text">€</span> <span class="input-group-text">0.00</span>
						<input th:field="*{prezzo}" type="text" class="form-control input-group rounded-0"
							id="prezzoPizza" th:errorClass="is-invalid">
						<div th:if="${#fields.hasErrors('prezzo')}" class="invalid-feedback">
							<ul>
								<li th:each="err : ${#fields.errors('prezzo') } "
									th:text="${err}"></li>
							</ul>
						</div>
					</div>

					<div class="text-end">
						<button type="submit" class="btn btn-light rounded-0 my-3">Invia</button>
					</div>
				</form>
			</div>
		</div>
	</div>




	<div th:replace="~{fragments/fragment :: script_style}"></div>
</body>
</html>