<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<div th:replace="~{fragments/fragment :: head_style}"></div>
<title>Dettagli pizza</title>
</head>
<body class="body">
<div th:replace="~{fragments/fragment :: nav}"></div>
	<div class="p-3">
		<p class="fs-6">
			<a th:href="@{/pizze}"><i class="fa-solid fa-arrow-left text-dark fs-3 align-middle"></i></a> Torna alla Home
		</p>
	</div>
	<div class="container">
		<div class="row">
		
			<div class="position-relative box_detail">
				<img th:alt="${pizza.nome} + '\'s pizza'" th:src="${pizza.foto}"
					class="w-100 h-100 img_detail" style="object-fit: cover">
				<div class="body_detail p-4 rounded-1">
					<div class="title_detail">
						<h2>[[${pizza.id}]] - [[${pizza.nome}]]</h2>
					</div>
					<p class="card-text mt-4">
						<span class="d-block">Descrizione:</span> [[${pizza.descrizione}]]
					</p>
					<p class="card-text">Ingredienti:
						<span th:each="ingrediente : ${pizza.ingredienti}" class="d-block">[[${ingrediente.name}]] </span> 
					</p>
					<h6>
						<span class="d-block">Prezzo:</span> [[${pizza.prezzo}]] €
					</h6>
					
					<div th:if="${pizza.offerteList.size()>0}">
						<h4>Offerte:</h4>
						<ul th:each="offerta : ${pizza.offerteList}">
							<li>[[${offerta.name}]] : [[${#temporals.format(offerta.startOfferDate, 'dd/MM/yyyy')}]] / 
							 [[${#temporals.format(offerta.endOfferDate, 'dd/MM/yyyy')}]]  
							 <span><a th:href="@{|/offerte/edit/${offerta.id}|}"><i class="fa-regular fa-pen-to-square fs-4"></i></a> Modifica offerta</span>
							 </li>
						</ul>
					</div>
					
					<div class="d-flex position-absolute boxEdit_detail">
						<p class="ms-3">Crea offerta <span><a th:href="@{|/offerte/create?idPizza=${pizza.id}|}"><i class="fa-solid fa-plus fs-4"></i></a></span> </p>
						<a class="ms-3" th:href="@{'/pizze/edit/{id}'(id=${pizza.id})}">
							<i class="fa-solid fa-pen-to-square fs-4 text-warning fw-light"></i>
						</a>
						<form action="#"
							th:action="@{'/pizze/delete/{id}'(id=${pizza.id})}" method="post">
							<button type="submit" id="submitButton"
								class="border-0 bg-transparent ms-3">
								<i class="fa-solid fa-trash-can fs-4 text-danger fw-light"></i>
							</button>
						</form>
					</div>
				</div>
			</div>
			
		</div>
	</div>
<div th:replace="~{fragments/fragment :: script_style}"></div>
</body>
</html>