<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
<title>Pizze</title>
</head>
<body>
	<h1>Le mie pizze</h1>
	<form>
		<input type="text" name="nome" th:value="${keyword}"> <input type="submit" value="Cerca">
	</form>
	<div class="container">
		<div class="row">
			<!-- card pizza -->
			<div  th:each="pizza : ${pizze}">
				<div class="card mb-5 rounded-1" style="box-shadow: 0px 2px 5px 2px rgba(114,114,114,0.7)">
						<div class="card-body p-0 d-flex">
						<div class="col-10 p-3">
							<h4 class="card-title">[[${pizza.id}]] - [[${pizza.nome}]]</h4>
							<p class="card-text">[[${pizza.descrizione}]]</p>
							<h6 class="card-title">Prezzo: [[${pizza.prezzo}]] €</h6>					
						</div>
							<div class="col-2 p-1">
								<img th:src="${pizza.foto}" class="img-fluid" th:alt="${pizza.nome} + '\'s pizza'">
							</div>
						</div>
					<div class="card-footer">
						<small class="text-muted">
						<div>
							<a th:href="@{'pizze/'+${pizza.id}}"> > </a>
						</div>
						</small>
					</div>
				</div>
			</div>
			<!-- fine card -->
			<div>
				<h2 th:if="${pizze.size() == 0}"> Non è presente nessuna pizza!</h2>
			</div>
		</div>
	</div>

	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>