<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<div th:replace="~{fragments/fragment :: head_style}"></div>
<title>Pizze</title>
</head>
<body class="body">
<div th:replace="~{fragments/fragment :: nav}"></div>
	<div class="container mt-5 mb-3">
		<div class="row">
			<div class="d-flex justify-content-between">
				<div>
					<p class="fs-6">
						Aggiungi pizza<a th:href="@{/pizze/create}"><i
							class="ms-2 fa-solid fa-plus text-dark fs-3 align-middle"></i></a>
					</p>
				</div>
				<form class="ms_filter" th:if="${pizze.size() > 0}">
					<label class="d-block fs-6">Filter by</label> <input
						class="input_filter"
						placeholder="Inserisci il nome della pizza..." type="text"
						name="nome" th:value="${keyword}"> <input
						class="btn_search" type="submit" value="Cerca">
				</form>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row row-cols-1 row-cols-md-2 g-4">
			<!-- card pizza -->
			<div th:each="pizza : ${pizze}">
				<div class="card h-100 mb-5 rounded-1"
					style="box-shadow: 0px 2px 5px 2px rgba(114, 114, 114, 0.7)">
					<div class="card-body p-0 d-flex">
						<div class="col-9 p-3 position-relative">
							<h4 class="card-title">[[${pizza.id}]] - [[${pizza.nome}]]</h4>
							<p class="card-text">[[${pizza.descrizione}]]</p>
							<p>Ingredienti: <span th:each="ingrediente : ${pizza.ingredienti}">[[${ingrediente.name}]] </span></p>
							<h6 class="card-title position-absolute" style="bottom: 0px">Prezzo:
								[[${pizza.prezzo}]] €</h6>
						</div>
						<div class="col-3 p-1">
							<img th:src="${pizza.foto}" class="w-100 h-100"
								style="object-fit: cover" th:alt="${pizza.nome} + '\'s pizza'">
						</div>
					</div>
					<div class="card-footer">
						<small class="text-muted">
							<div class="d-flex justify-content-between">
								<div class="d-flex">
									<span class="me-1">Dettagli</span>
									<div class="ms_btn">
										<a th:href="@{'pizze/'+${pizza.id}}"> <i
											class="fa-solid fa-chevron-right"></i>
										</a>
									</div>
								</div>
								<div class="d-flex">
									<a class="me-3" th:href="@{'/pizze/edit/{id}'(id=${pizza.id})}">
										<i class="fa-solid fa-pen-to-square fs-4 text-warning fw-light"></i>
									</a>
									<form action="#"
										th:action="@{'/pizze/delete/{id}'(id=${pizza.id})}"
										method="post">
										<button type="submit" id="submitButton" class="border-0 bg-transparent"> <i
											class="fa-solid fa-trash-can fs-4 text-danger fw-light"></i>
										</button>
									</form>
								</div>
							</div>
						</small>
					</div>
				</div>
			</div>
			<!-- fine card -->
			<div>
				<h2 th:if="${pizze.size() == 0}">Non è presente nessuna pizza!</h2>
			</div>
		</div>
	</div>
	<div th:replace="~{fragments/fragment :: script_style}"></div>
</body>
</html>