<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<div th:replace="~{fragments/fragment :: head_style}"></div>
<title>Ingredienti</title>
</head>
<body class="body">
	<div th:replace="~{fragments/fragment :: nav}"></div>
	<div class="container">
		<div class="row">
				<p class="fs-6 text-end align-self-center">
					Aggiungi ingrediente<a th:href="@{/ingredienti/create}"><i
						class="ms-2 fa-solid fa-plus text-dark fs-3 align-middle"></i></a>
				</p>
			<div th:if="${ingredienti.size() == 0}">
				<h5 >Non è presente nessun
					ingrediente!</h5>
			</div>
			<div th:if="${ingredienti.size() > 0}" class="d-flex g-2">
				<div th:each="ingrediente : ${ingredienti}" class="col-2">
					<div class="col-11 p-3 ms_ingredient">
						<h6>[[${ingrediente.name}]]</h6>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div th:replace="~{fragments/fragment :: script_style}"></div>
</body>
</html>