<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!--/* ----------------------STYLE HEAD--------------------------------- */-->
	<th:block th:fragment="head_style">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
		<link th:rel="stylesheet"
			th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
		<link th:rel="stylesheet"
			th:href="@{/webjars/font-awesome/6.3.0/css/all.min.css} " />
	</th:block>
	
<!--/* ----------------------STYLE--------------------------------- */-->
	<div th:fragment="script_style">
		<script
			th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
	</div>
	
<!--/* ----------------------FORM PIZZA--------------------------------- */-->
	<th:block th:fragment="form">
		<div class="mb-3 input-group">
			<label for="nomePizza" class="form-label input-group">Nome</label> <input
				th:field="*{nome}" type="text"
				class="ms_inputForm input-group rounded-0 " id="nomePizza"
				th:errorClass="is-invalid">
			<div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
				<ul>
					<li th:each="err : ${#fields.errors('nome') } " th:text="${err}"></li>
				</ul>
			</div>
		</div>

		<div class="mb-3 input-group">
			<label for="descrizionePizza" class="form-label input-group">Descrizione</label>
			<textarea th:field="*{descrizione}"
				class="ms_inputForm input-group rounded-0" id="descrizionePizza"
				rows="8" th:errorClass="is-invalid"></textarea>
			<div th:if="${#fields.hasErrors('descrizione')}"
				class="invalid-feedback">
				<ul>
					<li th:each="err : ${#fields.errors('descrizione') } "
						th:text="${err}"></li>
				</ul>
			</div>
		</div>

		<div class="mb-3 input-group">
			<label for="fotoPizza" class="form-label input-group">Foto</label> <input
				th:field="*{foto}" type="text"
				class="ms_inputForm input-group rounded-0" id="fotoPizza"
				th:errorClass="is-invalid">
			<div th:if="${#fields.hasErrors('foto')}" class="invalid-feedback">
				<ul>
					<li th:each="err : ${#fields.errors('foto') } " th:text="${err}"></li>
				</ul>
			</div>
		</div>

		<div class="mb-3 input-group">
			<label for="prezzoPizza" class="input-group">Prezzo € 0.00</label> <input
				th:field="*{prezzo}" type="text"
				class="ms_inputForm input-group rounded-0" id="prezzoPizza"
				th:errorClass="is-invalid">
			<div th:if="${#fields.hasErrors('prezzo')}" class="invalid-feedback">
				<ul>
					<li th:each="err : ${#fields.errors('prezzo') } " th:text="${err}"></li>
				</ul>
			</div>
		</div>
		
		<div class="mb-3 input-group">
			<label for="ingredientiPizza" class="input-group">Ingredienti: </label>
			<div th:each="ingrediente : ${ingredienti}" class="me-4">
				<input type="checkbox" th:value="${ingrediente.id}" th:field="*{ingredienti}" th:id="|ingredienti_${ingrediente.id}|">
				<label th:for="|ingredienti_${ingrediente.id}|">[[${ingrediente.name}]]</label>
			</div>
		</div>

		<div class="text-end">
			<button type="submit" class="btn btn-light rounded-0 my-3">
				<a th:href="@{/pizze}" class="text-decoration-none text-dark">Annulla</a>
			</button>
			<button type="submit" class="btn btn-light rounded-0 my-3">Invia</button>
		</div>
	</th:block>

<!--/* ----------------------FORM OFFERTE--------------------------------- */-->
	<th:block th:fragment="form-offer">
		<input type="hidden" th:field="${offerta.pizza}">

		<div class="mb-3 input-group">
			<label for="nomeOfferta" class="form-label input-group">Nome</label>
			<input th:field="*{name}" type="text"
				class="ms_inputForm input-group rounded-0 " id="nomeOfferta">
		</div>

		<div class="mb-3 input-group">
			<label class="form-label input-group" for="startDate"></label> <input
				class="ms_inputForm input-group rounded-0" id="startDate"
				th:field="*{startOfferDate}" type="date">
		</div>

		<div class="mb-3 input-group">
			<label class="form-label input-group" for="endDate"></label> <input
				class="ms_inputForm input-group rounded-0" id="endDate"
				th:field="*{endOfferDate}" type="date">
		</div>


		<div class="text-end">
			<button type="submit" class="btn btn-light rounded-0 my-3">
				<a th:href="@{/pizze}" class="text-decoration-none text-dark">Annulla</a>
			</button>
			<button type="submit" class="btn btn-light rounded-0 my-3">Invia</button>
		</div>
	</th:block>

<!--/* ----------------------NAVBAR--------------------------------- */-->
	<th:block th:fragment="nav">
		<nav class="navbar navbar-expand-lg bg-body-tertiary ms_nav">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item ms_link me-3">Home</li>
						<li class="nav-item ms_link me-3">Dettagli</li>
						<li class="nav-item ms_link me-3">Contact</li>
						<li class="nav-item ms_link me-3"><a class="ms_link" th:href="@{/ingredienti}">Ingredienti</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</th:block>
	
</body>
</html>